.Footer {
  height: 230px;
  padding: 16px 0px;

  &__wrapper {
    // display: flex;
    // align-items: center;
    // justify-content: flex-start;
  }

  &__lists {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__title {
    text-transform: uppercase;
    margin: 0;
    display: block;
    margin-bottom: 16px;
  }

  &__block {

    &:not(:last-child){
      margin-right: 32px;
    }
  }

  &__list {

  }

  &__item {
    font-size: 14px;
    margin-bottom: 8px;
  }
  
}